body{
  background-color:rgb(0, 0, 0);
  overflow-x:hidden;
  overflow-y:hidden;
}

.text{
  text-align: center;
  margin: auto;
  padding: 10px;
  padding-top: 165px;

  font-family: consolas; 
  font-size: 85%;
  color:rgb(255, 255, 255);
  line-height:5px;
  
  min-width: 400px;
  max-width: 700px;
}